/*
#buttons{
  text-align: center;
  margin: 0 auto;
}
#buttons2{
  text-align: center;
  margin: 0 auto;
}
#notificationButton{
   position:relative;
  background-color:red;
  
}

#inputAndButton{
width: 20%;
position:relative;
left:1200px;
bottom:50px;
}

#logOutButton{
 position:relative;
 left:900px;
 bottom:175px;
}


img{
  text-align: center;
  margin: 0 auto;
}

body{
  background-image: url("http://bit.ly/29K8OYC");
  background:url("http://bit.ly/29K8OYC");
  height:100vh;
}

#LogInName,#LogInPassword,#SignUpName,#SignUpPassword,#SignUpEmail,#SignUpPicture {
    width: 50%;
    padding: 12px 20px;
    margin: 0 auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
     position: relative;
     text-align: center; 
     left:400px;
}
button {

    background-color: #595959;
    border-radius:20%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#loginFields{
color:white;
font-weight: bold;
font-size:30px;
text-align:center;
}
#loginHeader{
  color:white;
  font-family:Impact;
  text-align:center;
}


.inboxFriend{
display: inline;
color:red;
}
.nh{
  color:red;
}*/



/*reset style*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}*/
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}*/

/*a {
  text-decoration: none;
}
*/
/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Unify styles
  ========================================
*/

body {
  color: #888;
  font: 300 16px/22px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  ========================================
  landing background
  ========================================
*/

.landing {
  position: absolute;
  width: 100%;
  height: 100%;
  /*background-color: #EEEEEE;*/
  background-image: url("montage.jpg");
  background-size: 100%;
  background-size: cover;
}

/*
  ========================================
  login or signup forms
  ========================================
*/
.landing .container {
  /*float: left;*/
}


.landing .logo {
  color: white;
}

.landing .description {
  color: white;
  font-weight: 100;
}


.login {
  width: 400px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
  margin-top: 70px;
  margin-left: 60%;
  background-color: rgba(255,255,255,0.8);
  filter: blur(5px);
}

.loginForm {
  margin-top: 40px;
}

.login .or {
  text-align: center;
  margin-top: 30px;
}

.login .btn {
  width: 360px;
  background-color: #3b7fc7;

}

.login .btn:hover {
  width: 360px;
}

.login .errorMsg {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

.login .lable {
  margin-left: 0px;
}

.errorMsg {
  color: red;
  text-align: center;
}


input:not([type]):focus:not([readonly]), 
input[type=text]:focus:not([readonly]), 
input[type=password]:focus:not([readonly]), 
input[type=email]:focus:not([readonly]), 
input[type=url]:focus:not([readonly]), 
input[type=time]:focus:not([readonly]), 
input[type=date]:focus:not([readonly]), 
input[type=datetime]:focus:not([readonly]), 
input[type=datetime-local]:focus:not([readonly]), 
input[type=tel]:focus:not([readonly]), 
input[type=number]:focus:not([readonly]), 
input[type=search]:focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #3b7fc7;
  box-shadow: 0 1px 0 0 #3b7fc7;
}

/*
  ========================================
  nav bar
  ========================================
*/
.navbar-fixed {
  margin-top: -10px;
}

.movieBuddyNav .brand-logo {
  margin-left: 30px;
}

.movieBuddyNav nav {
  background-color: rgba(59, 127, 199, 0.9);
}

.headBand h3 {
  padding-top: 150px; 
  color: white;
  text-align: right;
  margin-right: 40px;
}

.headBand {
  margin-top: -80px;
  width: 100%;
  height: 300px;
  background-image: url("montage.jpg");
  background-size: cover;
}

/*
  ========================================
  home view
  ========================================
*/

.Home, .MyRatings, .myFriends, .movieBuddy, .notification {
  width: 80%;
  margin: 30px auto 30px auto;
/*  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;*/
}

/*search bar*/

.Home .searchMovie, .MyRatings .searchMovie,
.myFriends .findFriend {
  width: 300px;
  margin: 30px auto 30px auto;
}

.Home a, .MyRatings a{
  margin: 0px 80px 0px 80px;
}

.Home.collection, .singleMovie.collection, 
.MyRatings.collection, .myFriends.collection,
.movieBuddy.collection, .notification.collection {
  border-radius: 15px;
  padding: 20px 20px 20px 20px;
}

.Home .header, .MyRatings .header,
.myFriends .header, .movieBuddy .header,
.notification .header {
  text-align: center;
  cursor: pointer;
  color: #3b7fc7;
}

.myFriends .btn {
  margin-left: 20px;
}


/*
  ========================================
  movie list view
  ========================================
*/

/*.movieList.collection {
  border-radius: 15px;
  padding: 20px 20px 20px 20px;
}*/

/*
  ========================================
  movie list entry view
  ========================================
*/

.right.col.s9 {
  position: relative; 
  min-height: 340px;
}

.movieEntry h5 {
  display: inline;
}

.movieYear {
  display: inline;
  margin-left: 20px;
}


.movieEntry p {
  font-size: 14px;
  position: relative;
}

.movieEntry p {
  margin: 1px, auto, 1px, auto;
  font-size: 14px;
}

.theReview {
  margin-right: 50px;
  font-size: 14px;
  color: #3b7fc7;
}

.movieEntry .review {
  margin: 1px, auto, 1px, auto;
  font-size: 14px;
  color: #3b7fc7;
}
.editReviewButton {
  float: right;
}

.ratings {
  /*position: absolute;*/
  margin-top: 30px;
  width: 100%;
  bottom: 0;
}

textarea {
  height: 80px;
}

/*watch request*/

.watchRequestButton {
  margin-top: 50px;
}

.activeWatchRequest a {
  position: absolute;
  right: 0;
}

.activeWatchRequest li {
  position: relative;
  padding-top: 10px;
  margin-bottom: 20px;
}

.activeWatchRequest span {
  margin-left: 140px;
}

.friendList, .friendStash {
  border: 1px solid #CCCCCC;
  margin-top: 0px;
  height: 150px;
  overflow: scroll;
}

.sent {
  margin-left: 30px;
}

.updateMsg {
  color: green;
}

.userRating .updateMsg {
  margin-left: 10px;
}

.yourRating {
  margin-left: 25px;
}

.notRatedMsg {

}

/*star rating*/

#star-rating {
  position: relative;
  left: 0;
  opacity: 1;
  /*margin-left: 30px;*/
}

.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 150px;
  height: 30px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating:not(:hover) input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
::after,
::before {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

/*
  ========================================
  myFriends
  ========================================
*/

.profilethumnail {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 170px;
  height: 170px; 
}

.individual, .friendEntryIndividual {
 cursor: pointer;
}

.friendEntryIndividual, .friendEntryCompatability {
  text-align: right;
}

.myFriends .errorMsg, .myFriends .updateMsg {
  text-align: center;
}

.myFriends .lable {
  margin-bottom: 30px;
  color: #3b7fc7;
  font-weight: 100;
}

.individual, .compatability, .firendCompatability{
  position: absolute;
  right: 0;
}

.Friend {
  position: relative;
  margin-top: 50px;
  padding-right: 20px;
}

.friendEntry {
  padding-right: 20px;
}

.MovieEntryFriend {
  position: relative;
  padding-right: 20px;
}

.compatability {
  font-weight: 400;
}

.MovieEntryFriend .individual {
  position: absolute;
  top: 0;
  margin: 0px 0px 0px 0px;
}

.top {
  margin: 20px 0px 20px 0;
}

.firendCompatability {
  margin-top: 30px;
}

.friendName {
  margin-top: 20px;
  font-weight: 400;
  font-size: 30px;
}

/*
  ========================================
  movie buddy view
  ========================================
*/

.buddyName, .buddyCompatibility {
  text-align: right;
}

.buddy .btn {
  position: absolute;
  right: 0;
  margin: 30px 50px 0px 0px;
}

/*
  ========================================
  notifications
  ========================================
*/

.notificationLable {
  margin: 30px 0px 10px 0px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid #3b7fc7;
}

.response {
  margin-top: 50px;
  position: relative;
}

.response .btn {
  margin-top: 50px;
  margin-right: 10px;
  position: absolute;
  right: 0;
}

.responseMsg {
  text-align: right;
}

.notification .updateMsg {
  text-align: center;
  padding-bottom: 30px;
}

.header.large {
  font-size: 15px;
  margin: 25px 0 15px 0;
}

.center.btn {
  margin: auto 30% auto 38%;
}