
#buttons{
  text-align: center;
  margin: 0 auto;
}
#buttons2{
  text-align: center;
  margin: 0 auto;
}
#notificationButton{
   position:relative;
  background-color:red;
  
}

#inputAndButton{
   width: 20%;
position:relative;
left:1200px;
bottom:50px;
}

#logOutButton{
 position:relative;
 background-color:red;
 left:900px;
 bottom:75px;
}


img{
  text-align: center;
  margin: 0 auto;
}

body{
  background-image: url("http://bit.ly/29K8OYC");
  background:url("http://bit.ly/29K8OYC");
  height:100vh;

}
#LogInName,#LogInPassword,#SignUpName,#SignUpPassword,#SignUpEmail,#SignUpPicture {
    width: 50%;
    padding: 12px 20px;
    margin: 0 auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
     position: relative;
     text-align: center; 
     left:400px;
}
button {

    background-color: #595959;
    border-radius:20%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#loginFields{
color:white;
font-weight: bold;
font-size:30px;
text-align:center;
}
#loginHeader{
  color:white;
  font-family:Impact;
  text-align:center;
}


